name: Push GAS Code

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select environment to push code to'
        required: true
        type: choice
        options:
          - deployment
          - staging
          - production

jobs:
  push:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Determine Secret Environment Prefix
        id: secret-env
        env:
          ENVIRONMENT: ${{ inputs.environment }}
        run: |
          case $ENVIRONMENT in
            deployment)
              PREFIX="DEV_"
              ;;
            staging)
              PREFIX="STAGING_"
              ;;
            production)
              PREFIX="PROD_"
              ;;
            *)
              PREFIX=""
              ;;
          esac
          echo "prefix=$PREFIX" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4

      - name: Clasp Init
        uses: ./.github/actions/clasp_init

      - name: Set up authentication
        uses: ./.github/actions/create_clasprc
        with:
          access_token: ${{ secrets[format('{0}ACCESS_TOKEN', steps.secret-env.outputs.prefix)] || secrets.ACCESS_TOKEN }}
          id_token: ${{ secrets[format('{0}ID_TOKEN', steps.secret-env.outputs.prefix)] || secrets.ID_TOKEN }}
          refresh_token: ${{ secrets[format('{0}REFRESH_TOKEN', steps.secret-env.outputs.prefix)] || secrets.REFRESH_TOKEN }}
          client_id: ${{ secrets[format('{0}CLIENT_ID', steps.secret-env.outputs.prefix)] || secrets.CLIENT_ID }}
          client_secret: ${{ secrets[format('{0}CLIENT_SECRET', steps.secret-env.outputs.prefix)] || secrets.CLIENT_SECRET }}

      - name: Generate .clasp.json
        env:
          PREFIX: ${{ steps.secret-env.outputs.prefix }}
          SCRIPT_ID: ${{ secrets[format('{0}SCRIPT_ID', steps.secret-env.outputs.prefix)] || secrets.SCRIPT_ID }}
        run: |
          echo '{
            "scriptId": "'$SCRIPT_ID'",
            "rootDir": "./src"
          }' | jq '.' > .clasp.json

      - name: Push GAS Code
        run: clasp push

      - name: Summary
        run: |
          echo "## Clasp Push Summary" >> $GITHUB_STEP_SUMMARY
          echo "- Environment: ${{ inputs.environment }}" >> $GITHUB_STEP_SUMMARY
          echo "- Push Timestamp: $(date)" >> $GITHUB_STEP_SUMMARY
